<div class="page page-table ng-scope ">
  <section ng-show="!detail" class="panel panel-default table-dynamic animate-show">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Bordered table</strong></div>
    <div class="table-filters">
      <div class="row">
        <div class="col-xs-12">
          <form class="form-inline has-time-picker">
            <div class="form-group">
              <label for="exampleInputName2">时间从</label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtfrom" is-open="fromopened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
              <div class="clearfix visible-xs-block"></div>
              <timepicker class="time-picker" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="form-group">
              <label for="exampleInputName2">到</label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtto" is-open="toopened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
              <div class="clearfix visible-xs-block"></div>
              <timepicker class="time-picker" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="form-group">
              <label for="exampleInputName2">彩种</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">用户名</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <label class="radio-inline">
              <input type="radio" ng-model="type" name="inlineRadioOptions" id="inlineRadio1" value="self"> 个人
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="type" name="inlineRadioOptions" id="inlineRadio2" value="team"> 团队
            </label>
            <button ng-click="search()" type="submit" class="btn btn-primary">查询</button>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="bg-dark">
          <th class="text-center">#</th>
          <th>用户名</th>
          <th class="text-center">彩种</th>
          <th class="text-center">投注</th>
          <th class="text-center">中奖</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="detail={name:'username'}">
          <td class="text-center">1</td>
          <td>Product One</td>
          <td class="text-center">100</td>
          <td class="text-center">1</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>Product Two</td>
          <td class="text-center">550</td>
          <td class="text-center">2</td>
          <td class="text-center">1100</td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td>Product Three</td>
          <td class="text-center">320</td>
          <td class="text-center">2</td>
          <td class="text-center">640</td>
        </tr>
        <tr>
          <td class="text-center">4</td>
          <td>Product Four</td>
          <td class="text-center">80</td>
          <td class="text-center">5</td>
          <td class="text-center">400</td>
        </tr>
        <tr>
          <td class="text-center">5</td>
          <td>Product Five</td>
          <td class="text-center">90</td>
          <td class="text-center">4</td>
          <td class="text-center">360</td>
        </tr>
        <tr>
          <td class="text-center">6</td>
          <td>Product Six</td>
          <td class="text-center">35</td>
          <td class="text-center">4</td>
          <td class="text-center">140</td>
        </tr>
      </tbody>
    </table>
    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <span>
              每页显示 
              <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()" class="ng-pristine ng-valid"><option value="0">3</option><option value="1">5</option><option value="2" selected="selected">10</option><option value="3">20</option></select> 
              条
          </span>
          <span class="ng-binding">
              共 8888 条
          </span>
        </div>
        <div class="col-md-6 text-right pagination-container">
          <ul class="pagination-sm pagination">
            <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(1)" class="ng-binding">First</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(page - 1)" class="ng-binding">Previous</a></li>
            <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}" class="ng-scope"><a href="" ng-click="selectPage(page.number)" class="ng-binding">{{page.number}}</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noNext()}" class="ng-scope"><a href="" ng-click="selectPage(page + 1)" class="ng-binding">Next</a></li>
            <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}" class="ng-scope"><a href="" ng-click="selectPage(pages.length)" class="ng-binding">Last</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
</div>
<div class="container">
  <div ng-show="detail" class="row animate-show">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><span ng-click="detail=null" class="glyphicon glyphicon-chevron-left">返回</span><strong class="pull-right"><span class="glyphicon glyphicon-th"></span> 基本资料</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li class="ng-binding">
                  <span class="icon glyphicon glyphicon-user"></span>
                  <label>User name</label>
                  {{d.baseinfo.userName}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-envelope"></span>
                  <label>Email</label>
                  {{d.baseinfo.email}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-home"></span>
                  <label>Address</label>
                  Street 123, Avenue 45, Country
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>Contact</label>
                  <input type="text" class="form-control" value="1221313" />
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-flag"></span>
                  <label>Nationality</label>
                  Australia
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>