<div class="container">
  <div class="row">
    <div class="page ng-scope">
      <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Wizard Form</strong></div>
        <div class="panel-body">
          <div class="vertical wizard clearfix" data-ui-wizard-form="" role="application" id="steps-uid-1">
            <div class="steps clearfix">
              <ul role="tablist">
                <li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="steps-uid-1-t-0" href="#steps-uid-1-h-0" aria-controls="steps-uid-1-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> 选择银行</a></li>
                <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-1-t-1" href="#steps-uid-1-h-1" aria-controls="steps-uid-1-p-1"><span class="number">2.</span> 去网银转账</a></li>
                <li role="tab" class="disabled last" aria-disabled="true"><a id="steps-uid-1-t-2" href="#steps-uid-1-h-2" aria-controls="steps-uid-1-p-2"><span class="number">3.</span> 等待到账</a></li>
              </ul>
            </div>
            <div class="content clearfix">
              <h1 id="steps-uid-1-h-0" tabindex="-1" class="title current">First Step</h1>
              <div id="steps-uid-1-p-0" role="tabpanel" aria-labelledby="steps-uid-1-h-0" class="body current" aria-hidden="false">
                <h2>This is the first step</h2>
                <form name="wizard_step1">
                  <div class="form-group">
                    <label for="">银行</label>
                    <div>
                    <!-- <span class="ui-select form-control"> -->
				                <select  class="form-control">
				                    <option value="Mustard">中国工商银行</option>
				                    <option value="Ketchup">中国农业银行</option>
				                    <option value="Barbecue">中国建设银行</option>
				                </select>
				            <!-- </span> -->
				            </div>
                  </div>
                  <div class="form-group">
                    <label for="">金额</label>
                    <input type="text" class="form-control" data-ng-model="wizard.lastName" required>
                  </div>
                </form>
                <buttton class="btn btn-primary" ng-click="isValidateStep1()" wz-next>Next</buttton>
              </div>
              <h1 id="steps-uid-1-h-1" tabindex="-1" class="title">Second Step</h1>
              <div id="steps-uid-1-p-1" role="tabpanel" aria-labelledby="steps-uid-1-h-1" class="body" aria-hidden="true" style="display: none;">Second Content</div>
              <h1 id="steps-uid-1-h-2" tabindex="-1" class="title">Third Step</h1>
              <div id="steps-uid-1-p-2" role="tabpanel" aria-labelledby="steps-uid-1-h-2" class="body" aria-hidden="true" style="display: none;">Third Content</div>
            </div>
            <div class="actions clearfix">
              <ul role="menu" aria-label="Pagination">
                <li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li>
                <li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li>
                <li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Wizard Form with Validation</strong></div>
        <div class="panel-body" data-ng-controller="wizardFormCtrl">
          <wizard on-finish="finishedWizard()" class="wizard-steps-container">
            <wz-step title="Starting">
              <h2>This is the first step</h2>
              <form name="wizard_step1">
                <div class="form-group">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" data-ng-model="wizard.firstName" required>
                </div>
                <div class="form-group">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" data-ng-model="wizard.lastName" required>
                </div>
              </form>
              <buttton class="btn btn-primary" ng-click="isValidateStep1()" wz-next>Next</buttton>
            </wz-step>
            <wz-step title="Continuing">
              <h2>Continuing</h2>
              <form name="wizard_step2">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" class="form-control" data-ng-model="wizard.email" required>
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" placeholder="min length 6" data-ng-model="wizard.password" required data-ng-minlength="6">
                </div>
              </form>
              <buttton class="btn btn-primary" wz-next>Next</buttton>
            </wz-step>
            <wz-step title="Continuing">
              <h2>Something you need to know:</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, eos, dolorum, sapiente, autem provident error deleniti voluptas quas laudantium fugiat cum reiciendis rerum eligendi laboriosam perferendis maiores dolores aspernatur! Possimus.</p>
              <buttton class="btn btn-primary" wz-next>Next</buttton>
            </wz-step>
            <wz-step title="Finish">
              <h2>Even more steps!!</h2>
              <form name="wizard_step3">
                <div class="form-group">
                  <label for="">Age</label>
                  <input type="number" class="form-control" placeholder="Min value 0, max value 100" data-ng-model="wizard.age" required data-min="0" data-max="100">
                </div>
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="number" class="form-control" placeholder="Min value 0, max value 100" data-ng-model="wizard.address" required data-min="0" data-max="100">
                </div>
              </form>
              <buttton type="submit" class="btn btn-primary" wz-next>Finish</buttton>
            </wz-step>
          </wizard>
          <div class="callout callout-info" data-ng-show="true">
            <p>In real project, you'll want to submit them using AJAX</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>