<div class="page-forgot ng-scope">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="javascript:;" class="ng-binding">找回密码</a>
        </section>
    </div>

    <div class="info text-center">
        <p class="text-small">输入注册的时候使用的邮箱. 我们会发送给您用户名和重置密码的链接.</p>
    </div>

    <div class="form-container text-center">

        <form class="form-horizontal ng-pristine ng-valid" name="forgotPasswordForm">
            <div class="form-group">
                <span class="glyphicon glyphicon-envelope"></span>
                <input type="email" class="form-control input-lg input-round text-center" placeholder="请填写您的邮箱">
            </div>
            <div class="form-group">
                <a href="#/" class="btn btn-lg btn-block btn-primary btn-round">重 置</a>
            </div>
        </form>
        
    </div>
</div>