<!-- <div class="container" style="margin:10px 0 0 0;">
  <div ng-controller="ModalDemoCtrl" class="visible-inline-block pull-right">
    <button class="btn btn-default" ng-click="open('lg')">查看购买历史</button>
    <div>Selection from a modal: {{ selected }}</div>
  </div>
</div> -->
<div class="container">
  <div class="row lotto-header bg-info">
    <div class="col-xs-7 col-sm-4"><span class="lotto-name"><h2>{{lotto.name}}</h2></span></div>
    <div class="col-xs-4 hidden-xs">
      <h5>{{previous.signature}}</h5>
      <h2><span ng-if="previous.numbers.length>0" class="new-number toggle">{{previous.numbers}}</span></h2>
    </div>
    <div class="col-xs-5 col-sm-4">
      <h5>{{curPeriod.signature}}</h5>
      <h1 class="toggle">{{countDown}}</h1></div>
  </div>
  <div class="row lotto-content">
    <div class="lotto-left col-xs-12 col-sm-9 col-md-9 col-lg-8">
      <div ng-show="!isChase" class="normal-select animate-show">
        <div class="row method">
          <div class="col-xs-12">
            <div class="btn-group">
              <button type="button" class="btn btn-primary " data-toggle="dropdown" aria-expanded="false">
                {{currentTab.name}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="tab in lotto.tabs"><a ng-click="selTab(tab)" href="javascript:;">{{tab.name}}</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary " data-toggle="dropdown" aria-expanded="false">
                {{currGroup.name}}-{{currentMethod.name}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header" ng-repeat-start="methodgroup in currentTab.methodgroups">
                  {{methodgroup.name}}
                </li>
                <li ng-repeat="method in methodgroup.methods">
                  <a href="javascript:;" ng-click="selMethod(methodgroup,method)">{{method.name}}</a>
                </li>
                <li ng-repeat-end class="divider"></li>
              </ul>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default  " data-toggle="dropdown" aria-expanded="false">
                提示 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu tips" role="menu">
                <li class="dropdown-header">规则</li>
                <li>
                  <a href="javascript:;" style="word-wrap: break-word; white-space: normal;">
                    <div>{{currentMethod.tip}}</div>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">示范</li>
                <li><a style="word-wrap: break-word; white-space: normal;" href="javascript:;">Separated link</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-if="currentMethod.spec=='luru'" class="row luru">
            <div class="col-sm-12">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button class="btn btn-default pull-right">清除</button>
            <button class="btn btn-default pull-right">去重</button>
        </div>
        <div ng-repeat="row in currentMethod.rows" class="row numbers animate-repeat" ng-if="currentMethod.spec=='number'||currentMethod.spec=='teshuhao'||currentMethod.spec=='daxiaodanshuang'||currentMethod.spec=='box'">
          <div class=" col-xs-12 col-sm-10  col-md-10 col-lg-10">
            <div class="row">
              <div class="col-xs-1">
                <label class="">{{row.name}}</label>
              </div>
              <div class="col-xs-11">
                <input ng-class="{'btn-primary':curTicket[row.name][n.value]==1}" ng-click="selNum(row,n)" ng-repeat-start="n in row.nums" class="btn btn-default btn-n" type="button" value="{{n.value}}">
                <div ng-repeat-end ng-if="$index==4" class="clearfix visible-xs-block"></div>
              </div>
            </div>
          </div>
          <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
            <input ng-click="selAll(row)" class="btn btn-default btn-xs" type="button" value="全">
            <input ng-click="selBig(row)" class="btn btn-default btn-xs" type="button" value="大">
            <input ng-click="selSmall(row)" class="btn btn-default btn-xs" type="button" value="小">
            <input ng-click="selOdd(row)" class="btn btn-default btn-xs" type="button" value="单">
            <input ng-click="selEven(row)" class="btn btn-default btn-xs" type="button" value="双">
            <input ng-click="selNone(row)" class="btn btn-default btn-xs" type="button" value="清">
          </div>
        </div>
        <div class="row ticket-method">
          <div class="sliderExample col-xs-12 col-sm-4 cols">
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
                <button ng-click="selBrokerage.val=(selBrokerage.val>=selBrokerage.min+2?selBrokerage.val-2:selBrokerage.val)" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
              </span>
              <input type="text" readonly class="form-control" value="{{(selBrokerage.max-selBrokerage.val)/20|number:1}}% 奖金{{currentMethod.base*(selBrokerage.val/2000) | number:2}}" />
              <span class="input-group-btn">
                <button ng-click="selBrokerage.val=(selBrokerage.val<=selBrokerage.max-2?selBrokerage.val+2:selBrokerage.val)" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </span>
            </div>
            <div  ui-slider min="{{selBrokerage.min}}" max="{{selBrokerage.max}}" step="2" use-decimals ng-model="selBrokerage.val"></div>
          </div>
          <div class="col-sm-4  col-xs-7 cols">
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
            <button ng-click="multi=multi-1>0?multi-1:1" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
              </span>
              <input select-on-click ng-init="multi=1" ng-model="multi" ng-change="checkCurrMultiple($event)" type="text" class="form-control">
              <span class="input-group-addon">倍</span>
              <span class="input-group-btn">
            <button ng-click="multi=multi*1+1<=65535?multi*1+1:65535" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </span>
            </div>
          </div>
          <div class="col-sm-4 col-xs-5 cols">
            <div ng-init="mode=0" class="btn-group btn-group-sm" role="group" aria-label="...">
              <button ng-click="mode=0" type="button" class="btn btn-default" ng-class="{'btn-primary':mode===0}">元</button>
              <button ng-click="mode=1" type="button" class="btn btn-default" ng-class="{'btn-primary':mode===1}">角</button>
              <button ng-click="mode=2" type="button" class="btn btn-default" ng-class="{'btn-primary':mode===2}">分</button>
            </div>
          </div>
        </div>
        <div class="row single-ticket">
          <div class="col-xs-12 col-md-4 col-lg-4"> 您选择了 {{selectingQty}} 注，共 {{selectingMny()|number:2}} 元</div>
          <div class="col-xs-8 col-md-4  col-lg-2 ">
            <input ng-click="purchase()" class="btn  btn-primary pull-right btn-block" type="button" value="购买单注">
          </div>
          <div class="col-xs-4 col-md-4 col-lg-2">
            <button class="btn btn-link" ng-click="add2basket()">加入购物篮</button>
            <!--  <div ng-controller="ModalDemoCtrl" class="visible-inline-block">
              <button class="btn btn-link" ng-click="open('lg')">加入购物篮</button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ticket-basket ">
              <div  ng-repeat="t in tickets"  class="animate-repeat callout callout-info">
              <strong>{{t.title}}</strong><span class="num-letter">{{t.num}}</span>[{{t.qty}}注|{{t.multi}}倍|{{t.mny|number:2}}元|{{t.brokerage/10}}%]
              <button ng-click="removeTicket($index)" type="button" class="close">×</button>
              </div>
        </div>
      </div>
      <div ng-show="isChase" class="chase-select animate-show">
        <div class="row single-ticket">
        </div>
        <div class="row chase-header">
          <div ng-init="chase.chaseType='same'" class="col-xs-12">
            <button ng-click="chase.chaseType='same'" ng-class="{'btn-primary':chase.chaseType==='same'}" type="button" class="btn">同倍追号</button>
            <button ng-click="chase.chaseType='times'" ng-class="{'btn-primary':chase.chaseType==='times'}" type="button" class="btn">翻倍追号</button>
            <button ng-click="isChase=false" type="button" class="btn btn-default pull-right">取消追号</button>
          </div>
        </div>
        <div ng-show="chase.chaseType==='times'" class="row animate-show">
          <div class="col-xs-6">
            <div ng-init="chase.chaseGutter=1" class="input-group input-group-sm col-xs">
              <span class="input-group-addon">每</span>
              <input select-on-click ng-model="chase.chaseGutter" type="text" class="form-control">
              <span class="input-group-addon">期</span>
            </div>
          </div>
          <div class="col-xs-6">
            <div ng-init="chase.chaseTimes=2" class="input-group input-group-sm col-xs">
              <span class="input-group-addon">乘</span>
              <input select-on-click ng-model="chase.chaseTimes" type="text" class="form-control">
              <span class="input-group-addon">倍</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th colspan="2">
                    <div class="input-group input-group-sm col-xs">
                      <span class="input-group-addon">追</span>
                      <input select-on-click ng-init="chase.chaseCount=5" ng-model="chase.chaseCount" type="text" class="form-control">
                      <span class="input-group-addon">期</span>
                    </div>
                  </th>
                  <th>
                    <div ng-hide="chase.chaseType==='times'" class="input-group input-group-sm">
                      <input select-on-click ng-model="chase.chaseMulti" type="text" class="form-control">
                      <span class="input-group-addon">倍</span>
                    </div>
                  </th>
                  <th>金额</th>
                </tr>
              </thead>
              <tbody>
                <tr class="animate-repeat" ng-repeat="p in futurePeriods|limitTo:chase.chaseCount">
                  <th scope="row">{{$index+1}}</th>
                  <td>{{p.signature}}</td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input select-on-click ng-model="p.chaseMulti" type="text" class="form-control">
                      <span class="input-group-addon">倍</span>
                    </div>
                  </td>
                  <td>{{p.chaseMulti/tickets[0].multi*tickets[0].mny|number:2}}</td>
                </tr>
              </tbody>
            </table>
            <div class="checkbox " for="cancelOnWin">
              <label>
                <div class="roundedOne">
                  <input ng-model="cancelOnWin" type="checkbox" value="None" id="cancelOnWin" name="check" />
                  <label for="cancelOnWin"></label>
                </div>
                <span>中奖后停止追号</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="tickets.length>0" class="row">
        <div class="col-xs-12 col-md-4 col-lg-4"> 您选择了 0 注，共 0 元,追号 10 期</div>
        <div class="col-xs-8 col-md-4  col-lg-2 ">
          <input ng-click="purchaseMulti()" class="btn btn-primary pull-right  btn-block" type="button" value="{{isChase?'追号':'购物篮'}}买注">
        </div>
        <div ng-show="tickets.length==1" class="col-xs-4 col-md-4 col-lg-3">
          <div class="checkbox " for="isChase">
            <label>
              <div class="roundedOne">
                <input ng-model="isChase" type="checkbox" value="None" id="isChase" name="check" />
                <label for="isChase"></label>
              </div>
              <span>追号</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="lotto-right hidden-xs col-sm-3 col-md-3 col-lg-4">
      <div class="row">
        <div class="col-xs-12 ticket-basket ">
          <ul class="list-group">
            <li ng-repeat="p in recent|limitTo:4" class="list-group-item animate-repeat">{{p.signature}}-{{p.numbers}}</li>
          </ul>
        </div>
      </div>
      <div class="funnyNewsTicker fnt-radius fnt-shadow fnt-easing" id="news">
        <ul>
          <h1 ng-show="!newsmoving">中奖名单加载中....</h1>
          <li ng-repeat="award in awards">
            <div class="fnt-content" data-link="http://sc.chinaz.com">{{award.name}}. 中奖：{{award.money}}.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>