<div id="content" class="page page-lock ng-scope">
  <div class="lock-centered clearfix">
    <div class="lock-container">
      <!-- <div ui-time class="lock-time"></div> -->
      <section class="lock-box">
        <div class="lock-user ng-binding">Lisa Doe</div>
        <div class="lock-img"><img src="images/g1.jpg" alt=""></div>
        <div class="lock-pwd">
          <form class="ng-pristine ng-valid">
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
              <a href="#/" class="btn-submit">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
<style type="text/css">
nav {
  display: none;
}

footer {
  display: none;
}
</style>