<!-- Carousel
    ================================================== -->
<div style="background-image: url(https://d3egmynekukbig.cloudfront.net/assets/hero-1-91ce9d3cce293ddac6c954231e549dee.jpg)" id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <!-- <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>注册大奖.</h1>
          <p>凡在20150501-20150601期间，本网站 <code>http://www.imbalotto.com</code> 注册用户, 即可享受1000元游戏币试玩.游戏期间任何问题请联系客服QQ<code>213132321</code></p>
          <p><a class="btn btn-lg btn-primary" href="#/signup" role="button">注册试玩</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a> -->
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-flash faceicon"></span>
      <!-- <img class="img-circle" src="images/ssc.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
      <h2>超级加速</h2>
      <p>提升游戏体验，页面无卡顿.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-briefcase faceicon"></span>
      <!-- <img class="img-circle" src="images/11x5.png" style="width: 140px; height: 140px;"> -->
      <h2>资金安全</h2>
      <p>互联各大国内银行支付接口.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-cloud faceicon"></span>
      <!-- <img class="img-circle" src="images/3d.png" style="width: 140px; height: 140px;"> -->
      <h2>无极扩容</h2>
      <p>采用全新云服务器，系统性能不断提升.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">完美适配手机移动端浏览器 <span class="text-muted">尽情享用无差别优质服务</span></h2>
      <p class="lead">系统采用最新设计，让手机端拥有与电脑PC一样完整的功能和流畅的体验！</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive thumbnail" src="images/nb1.gif" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-4">
      <img class="featurette-image img-responsive thumbnail" src="images/nb2.gif" alt="Generic placeholder image">
    </div>
    <div class="col-md-8">
      <h2 class="featurette-heading">游戏，赚钱两不误. <span class="text-muted">来玩个痛快！</span></h2>
      <p class="lead">妈妈再也不说我是贪玩的坏孩子</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">报表，收益，一目了然. <span class="text-muted">大数据时代.</span></h2>
      <p class="lead">我们提供各种优质的数据服务，这些都是免费的哦！</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive thumbnail" src="images/nb3.gif">
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
<script>
$(document).ready(function() {
  $("#myCarousel").swiperight(function() {
    $(this).carousel('prev');
  });
  $("#myCarousel").swipeleft(function() {
    $(this).carousel('next');
  });
});
</script>