<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-profile">
        <div class="panel-heading text-center bg-info">
          <img alt="" src="images/g1.jpg" class="img-circle img80_80">
          <h3 class="ng-binding">{{d.baseinfo.userName}}</h3>
          <p>Project Manager</p>
        </div>
        <div class="list-justified-container">
          <ul class="list-justified text-center">
            <li>
              <p class="size-h3">资金</p>
              <p class="text-muted">6799999</p>
            </li>
            <li>
              <p class="size-h3">注单</p>
              <p class="text-muted">5751</p>
            </li>
            <li>
              <p class="size-h3">中奖</p>
              <p class="text-muted">888898.99</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 基本资料</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li class="ng-binding">
                  <span class="icon glyphicon glyphicon-user"></span>
                  <label>User name</label>
                  {{d.baseinfo.userName}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-envelope"></span>
                  <label>Email</label>
                  {{d.baseinfo.email}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-home"></span>
                  <label>Address</label>
                  Street 123, Avenue 45, Country
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>Contact</label>
                  <input type="text"  class="form-control" value="1221313" />
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-flag"></span>
                  <label>Nationality</label>
                  Australia
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 银行卡</strong></div>
        <div class="panel-body">
          <div class="row">
                <div ng-repeat="card in cards" class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{card.bankName}}</p>
                            <p class="text-muted"><span data-i18n="Growth">1231319***</span></p>
                        </div>
                    </div>
                </div>
                
            </div>
          <form name="wizard_step1">
            <div class="form-group">
              <label for="">银行</label>
              <div>
                <!-- <span class="ui-select form-control"> -->
                <select ng-model="selBank" ng-options="bank.sysBankName for bank in banks" class="form-control">
                </select>
                <!-- </span> -->
              </div>
            </div>
            <div class="form-group">
              <label for="">金额</label>
              <input type="text" class="form-control" data-ng-model="wizard.lastName" required>
            </div>
          </form>
          <buttton class="btn btn-primary" ng-click="isValidateStep1()" wz-next>添加新的银行卡</buttton>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 安全信息</strong></div>
        <div class="panel-body">
          <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <div class="box-info">
                            <p class="size-h2"><button class="btn btn-primary btn-lg">资金密码</button> </p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <div class="box-info">
                           <p class="size-h2"><button class="btn btn-default btn-lg">登陆密码</button> </p>
                        </div>
                    </div>
                </div>
            </div>
          <form name="wizard_step1">
            <div class="form-group">
              <label for="">原密码</label>
              <input type="text" class="form-control" data-ng-model="wizard.lastName" required>
            </div>
            <div class="form-group">
              <label for="">新密码</label>
              <input type="text" class="form-control" data-ng-model="wizard.lastName" required>
            </div>
          </form>
          <buttton class="btn btn-primary" ng-click="isValidateStep1()" wz-next>修改</buttton>
          <a href="#/pages/forgot-password">密码记不起来了?</a>
        </div>
      </div>
    </div>
  </div>
</div>