<div class="page-signup ng-scope">
  <div class="signin-header">
    <section class="logo text-center">
      <a href="#/" class="ng-binding">注册赢吧</a>
    </section>
  </div>
  <div class="signup-body">
    <div class="container">
      <div class="form-container">
        <section>
          <form name="form" class="form-horizontal text-center ng-pristine ng-valid" novalidate>
            <div class="form-group" ng-class="{'has-error':form.username.$error.required||form.username.$error.pattern}">
              <span class="glyphicon glyphicon-user"></span>
              <input autocomplete="off" ng-model="username" ng-pattern="/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){4,19}$/" name="username" type="text" class="form-control input-lg input-round text-center" placeholder="用户名" required>
              <div ng-show="form.username.$error.required">请输入用户名</div>
              <div ng-show="form.username.$error.pattern">只能输入5-20个以字母开头、可带数字、“_”、“.”的字串.</div>
            </div>
            <div class="form-group">
              <span class="glyphicon glyphicon-envelope"></span>
              <input type="email" class="form-control input-lg input-round text-center" placeholder="邮箱">
            </div>
            <div class="form-group" ng-class="{'has-error':form.pass.$error.required}">
              <span class="glyphicon glyphicon-lock"></span>
              <input ng-model="password" name="pass" type="password" class="form-control input-lg input-round text-center" placeholder="密码" required>
              <div ng-show="form.pass.$error.required">请输入密码</div>
            </div>
            <div class="form-group">
              <p class="text-muted text-small">点击注册, 表示您遵守本网站的<a href="javascript:;">条例&amp; 条款</a> 和 <a href="javascript:;">隐私政策</a></p>
              <div class="divider"></div>
              <input type="submit"  ng-disabled="form.$invalid" ng-click="signup(form)" class="btn btn-primary btn-block btn-lg btn-round" value="注 册"/>
            </div>
          </form>
        </section>
        <section>
          <p class="text-center text-muted">已经有账号了? <a href="#/signin">点此登录</a></p>
        </section>
      </div>
    </div>
  </div>
</div>