<div class="page-signin">
  <div class="signin-header">
    <section class="logo text-center">
      <a href="#/" class="ng-binding">登录赢吧</a>
    </section>
  </div>
  <div class="signin-body">
    <div class="container">
      <div class="form-container">
        <form name="form" class="form-horizontal" novalidate>
          <fieldset>
            <div ng-class="{'has-error':(form.$invalid)&&form.uName.$error.required}" class="form-group">
              <span class="glyphicon glyphicon-user"></span>
              <input ng-model="username" name="uName" type="text" class="form-control input-lg input-round text-center" placeholder="用户名" required>
              <div ng-show="form.uName.$error.required">请输入用户名.</div>
            </div>
            <div ng-class="{'has-error':(form.$invalid)&&form.pass.$error.required}" class="form-group">
              <span class="glyphicon glyphicon-lock"></span>
              <input ng-model="password" name="pass" type="password" class="form-control input-lg input-round text-center" placeholder="密码" required>
              <div ng-show="form.pass.$error.required">请输入密码.</div>
            </div>
            <div class="form-group">
              <input ng-disabled="form.$invalid" type="submit" href="javascript:;" ng-click="signin(form)" class="btn btn-primary btn-lg btn-round btn-block text-center" value="登 录" />
            </div>
          </fieldset>
        </form>
        <section>
          <p class="text-center"><a href="#/forgot">忘记了密码?</a></p>
          <p class="text-center text-muted text-small">还没有账号? <a href="#/signup">注 册</a></p>
        </section>
      </div>
    </div>
  </div>
</div>