<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <button ng-click="toggleTeamAdd()" class="btn btn-primary animate-click"><span ng-class="{'glyphicon-remove':v.teamadd,'glyphicon-plus':!v.teamadd}" class="glyphicon"></span></button>
        <button ng-click="refresh()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span></button>
        <div class="input-group input-group-sm col-xs">
          <input ng-model="chase.chaseGutter" type="text" class="form-control">
          <span class="input-group-btn">
                  <button class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-show="v.teamadd">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 添加成员</strong></div>
        <div class="panel-body">
          <form name="form" novalidate>
            <div ng-class="{'has-error':(form.$submitted || form.uName.$touched)&&form.uName.$error.required}" class="form-group">
              <label for="">用户名</label>
              <input name="uName" type="text" class="form-control" data-ng-model="subUsername" required>
              <div ng-show="form.$submitted || form.uName.$touched">
                <div ng-show="form.uName.$error.required">请输入用户名.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="">密码</label>
              <input type="text" class="form-control" data-ng-model="subnewpass" required>
            </div>
            <div class="form-group">
              <label for="">返点</label>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                <button ng-click="selBrokerage.val=(selBrokerage.val>=selBrokerage.min+2?selBrokerage.val-2:selBrokerage.val)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </span>
                <input type="text" readonly class="form-control" value="{{(selBrokerage.max-selBrokerage.val)/20|number:1}}% 奖金{{selBrokerage.val}}" />
                <span class="input-group-btn">
                <button ng-click="selBrokerage.val=(selBrokerage.val<=selBrokerage.max-2?selBrokerage.val+2:selBrokerage.val)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </span>
              </div>
              <div ui-slider min="{{selBrokerage.min}}" max="{{selBrokerage.max}}" step="2" use-decimals ng-model="selBrokerage.val"></div>
            </div>
            <input type="submit" class="btn btn-primary" ng-click="addSubUser()" ng-disabled="form.$invalid"  value="添加成员" />
            <buttton class="btn btn-primary pull-right" ng-click="isValidateStep1()" wz-next><span class="glyphicon glyphicon-arrow-down"></span>生成邀请链接</buttton>
            <buttton ng-click="toggleTeamAdd()" class="btn btn-default" ng-click="isValidateStep1()" wz-next>取消</buttton>
          </form>
          <form>
            <div class="form-group ">
              <label for="">你还可以通过以下链接邀请用户注册:</label>
            </div>
            <div class="form-group">
              <div class="input-group input-group-sm col-xs">
                <span class="input-group-addon">1956</span>
                <input readonly ng-model="chase.chaseGutter" type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-sm col-xs">
                <span class="input-group-addon">1956</span>
                <input readonly ng-model="chase.chaseGutter" type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!v.teamadd">
    <div class="col-xs-12">
      <script type="text/ng-template" id="my-tmpl">
        <a ng-if="hasNodes(data)" class="angular-ui-tree-icon" data-nodrag="" ng-click="toggle(data)">
          <span class="angular-ui-tree-icon-collapse " ng-class="{'collapsed': !data.show, 'uncollapsed': data.show}"></span>
        </a>
        <span>  {{data.userName}}</span>
        <span>  {{data.level}}</span>
        <span>  {{data.registerTime}}</span>
        <button class="btn btn-primary pull-right" ng-click="add(data)">详情</button>
        <button class="btn btn-primary pull-right" ng-click="delete(data)" ng-show="hasNodes(data)">Delete nodes</button>
        <ul ng-if="data.show" class="list-group">
          <li class="list-group-item " ng-repeat="data in data.nodes" ng-include="'my-tmpl'"></li>
        </ul>
      </script>
      <ul class="list-group tree">
        <li class="list-group-item " ng-repeat="data in tree" ng-include="'my-tmpl'"></li>
      </ul>
    </div>
  </div>
</div>
<div ng-hide="true" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-chevron-left">返回</span> <span class="pull-right">xxx的基本资料</span></strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li class="ng-binding">
                  <span class="icon glyphicon glyphicon-user"></span>
                  <label>用户名</label>
                  {{d.baseinfo.userName}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-envelope"></span>
                  <label>邮箱</label>
                  {{d.baseinfo.email}}
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>手机</label>
                  <input type="text" readonly class="form-control" value="{{(selBrokerage2.max-selBrokerage2.val)/20|number:1}}% 奖金{{selBrokerage2.val}}" />
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>个人余额</label>
                  (+012) 345 6789
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>团队余额</label>
                  (+012) 345 6789
                  <button class="btn btn-primary">查询</button>
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-earphone"></span>
                  <label>注册时间</label>
                  (+012) 345 6789
                </li>
                <li>
                  <form>
                    <div class="form-group">
                      <label for="">返点</label>
                      <div class="input-group input-group-sm">
                        <span class="input-group-btn">
                <button ng-click="selBrokerage2.val=(selBrokerage2.val>=selBrokerage2.min+2?selBrokerage2.val-2:selBrokerage2.val)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        </span>
                        <input type="text" readonly class="form-control" value="{{(selBrokerage2.max-selBrokerage2.val)/20|number:1}}% 奖金{{selBrokerage2.val}}" />
                        <span class="input-group-btn">
                <button ng-click="selBrokerage2.val=(selBrokerage2.val<=selBrokerage2.max-2?selBrokerage2.val+2:selBrokerage2.val)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </span>
                      </div>
                      <div ui-slider min="{{selBrokerage2.min}}" max="{{selBrokerage2.max}}" step="2" use-decimals ng-model="selBrokerage2.val"></div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>